{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- aqui va lo que cambia y lo asociado a esta vista  -->

    <h2>Buscá una camada:</h2>

    <form action="/AppCoder/buscar/" method="GET">
        <input type="number" name="camada" id="camada">
        <input type="submit" value="Buscar">
    </form>


    <p>Estamos buscando el: {{camada}} </p>

    {% if cursos %}

    <ul>
    {%for curso in cursos%}
        <li> {{curso.nombre}} </li>
        <li> {{curso.camada}} </li>
    {% endfor %}
    </ul>

    {% endif %}

    <p style="color: red"> {{respuesta}} </p>

{% endblock %}
